.main {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 2px solid cornflowerblue;
}

.main-title {
    text-align: center;
    color: cornflowerblue;
    margin-bottom: 20px;
}

.content {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
